@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,blue,violet);
}
.inner-box{
    width: 400px;
    margin:0 auto;
    /* You can set the margin property to auto to horizontally center the element within its container.
    The element will then take up the specified width, and the remaining space will be split equally
     between the left and right margins. */
     position: relative;
     top: 40%;
     transform: translateY(-50%);/* Jaha pe hain waha se 50% upar chala jaega*/
     padding: 20px 40px;
     background-color:#ffffff09;
     backdrop-filter: blur(8px);
     border-radius: 8px;
     box-shadow: 2px 2px 5px #31a0e0 ;
     z-index: 2;
}
.signup-header h1{
    font-size: 2.5rem; /* default 2 rem*/
    color: #212121;
}
.signup-header p{
    font-size: 0.9rem;
    color:#312b2b
}
.signup-body{
    margin:20px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    border: 2px solid rgb(101, 99, 99);
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body p input[type="submit"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #1a6ba0;
}
.signup-footer p{
    text-align: center;
    color:#212121;
}
.signup-footer p a{
    color: #021b2b;
    /* text-decoration: none; */
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to right,#ffffff33,#ffffff);
    /* added opacity/blur to white color to make it little bit darker */
    position: absolute;
}
.c1{
    top: 100px;
    left: 40px;
}
.c2{
    top:200px;
    left:80px
}